<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Trang Thanh Toán</title>-->
<!--</head>-->
<!--<div th:replace="~{Users/include/popup.html :: .popup_header}"></div>-->
<!--<div th:replace="~{Users/include/header.html :: header}"></div>-->
<!--<div th:replace="~{Users/include/cart.html :: #miniCart}"></div>-->
<!--<div th:replace="~{Users/include/header_two.html :: .header-two}"></div>-->
<!--<div th:replace="~{Users/include/side.html :: .side}"></div>-->
<!--<body>-->
<!--<h1>Trang Thanh Toán</h1>-->
<!--<div id="order-info">-->
<!--    &lt;!&ndash; Thông tin đơn hàng sẽ được hiển thị ở đây &ndash;&gt;-->
<!--</div>-->
<!--<form onsubmit="processPayment(event)">-->
<!--    &lt;!&ndash; Các trường nhập thông tin thanh toán &ndash;&gt;-->
<!--    <button type="submit">Thanh Toán</button>-->
<!--</form>-->
<!--<div th:replace="~{Users/include/footer.html :: .footer}"></div>-->
<!--<div th:replace="~{Users/include/botton-footer.html :: .botton-footer}"></div>-->
<!--</body>-->
<!--</html>-->