<div class="offcanvas-minicart_wrapper" id="miniCart">
    <div class="offcanvas-menu-inner">
        <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
        <div class="minicart-content">
            <div class="minicart-heading">
                <h4>Shopping Cart</h4>
            </div>
            <ul class="minicart-list" id="cart-list">
                <!-- Danh sách sản phẩm trong giỏ hàng sẽ được cập nhật bằng JavaScript -->
            </ul>
        </div>
        <div class="minicart-item_total">
            <span>Subtotal</span>
            <span class="ammount">$0.00</span>
        </div>
        <div class="minicart-btn_area">
            <a href="cart.html" class="hiraola-btn hiraola-btn_dark hiraola-btn_fullwidth">Minicart</a>
        </div>
        <div class="minicart-btn_area">
            <a href="#" id="checkout-btn" class="hiraola-btn hiraola-btn_dark hiraola-btn_fullwidth">Checkout</a>
        </div>
    </div>
</div>